@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: Montserrat, sans-serif;
}
#app {
    font-family: Montserrat, sans-serif;
}

.nav-container {
    display: flex;
    justify-content: flex-start;
    background-color: rgba(0, 0, 0, 0.753);
}

.nav-bar {
    display: flex;
    justify-content: center;
    width: 300px;
    padding: 10px;
    margin: 10px;
    border-radius: 1rem;
    background-color: #FFE200;
}

h2{
    background: none;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #faf6f6;
}
.price {
    padding: 0;
    margin: 0;
}

.search-bar{
    color: #555;
    display: flex;
    border: 1px solid currentColor;
    border-radius: 2px;
    min-width: 25rem;
    margin-left: 25rem;
    margin-right: 25rem;
}

.product-container {
    display: flex;
    background-color: #FFFF;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2rem;
    border: 1px solid grey;
    border-left: none;
    border-right: none;
    box-shadow: 2px 2px 6px 4px rgba(0, 0, 0, 0.753);
}

.product-information {
    max-width: 30rem;
    min-width: 22rem;
    background-color: #FFFF;

}

.product-rating {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 20rem;
    max-width: 25rem;
    background-color: #FFFF;

}

td {
    padding-inline: 3rem;
    padding-top: 3rem;
    padding-left: 0;
}

.product-image {
    width: 350px;
    height: 350px;
    min-width: 15rem;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.substitute-container {
    display: flex;
    background-color: rgba(0, 0, 0, 0.753);
    width: 100%;
    height: 5rem;
    align-items: center;  
}

.substitute-header{
    display: flex;
    background-color: transparent;
    color: #FFE200;
    padding: 10px;
    margin: 10px;
}

#ProductNumber {
    background: transparent;
    border: none;
    margin: 0;
    padding: 7px 8px;
    border: 1px solid transparent;
    color: inherit;
    width: 80%;
    font-size: 14px;
}
#ProductNumber:focus,
button.searchButton:focus{
    box-shadow: 0 0 3px 0 #1183d6;
    border-color: #1183d6;
    outline: none;
    
}
button.searchButton{
    text-indent: -999px;
    overflow: hidden;
    width: 20%;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
    background-color: #FFE200;
}

button.searchButton:active {
    background-color: #FFE200;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
}
#substitute-arrow {
    width: 5rem;
    margin-left: 10rem;
    background: transparent url(/src/assets/Mediamodifier-Design.svg) no-repeat center;
    cursor: pointer;
}
#alternative-table{
    border-collapse: collapse;
    min-width: 100%;
    border-top: solid #FFE200;
    letter-spacing: 1px;
    font-size: 2rem;
}
#alternative-table thead tr{
    background-color: rgba(0, 0, 0, 0.753);
    color: #faf6f6;
    text-align: left;
    font-weight: bold;

}
#alternative-table th,
#alternative-table td {
    padding: 12px 15px;
    text-align: center;
}
#alternative-table td:not(:first-of-type){
    width: 150px;
    height: 150px;
    justify-content: center;
}
.alternative-row{
    background-color: rgba(0, 0, 0, 0.753);
    color: #faf6f6;
    text-align: left;
    font-weight: bold;
    width: 5rem;
}
.alternative-container{
    margin: 0;
    padding: 0;
}
.alternative-product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 85%;
    transition: 200ms;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
}
.alternative-product:hover{
    transform: scale(1.05);
    opacity: 100%;
    cursor: pointer;
    box-shadow: 2px 2px 6px 4px #2196f3;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
}
.alternative-product p{
    margin-top: 2px;
    font-size: 14px;
    padding: 5px;
}
.alternative-product img{
    max-height: auto;
    max-width: auto;
}

.alternative-button{
    transform: rotate(180deg);
    transition: 200ms;
    cursor: pointer;
}
.alternative-button:hover{
    transform: rotate(360deg);
}
.alternative-button-after{
    transform: rotate(0deg);
    transition: 200ms;
    cursor: pointer;
}
.alternative-button-after:hover{
    transform: rotate(180deg);
}
